@use "@/styles/colors.scss" as *;

.main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - 120px);
  border-left: 1px solid $main-500;
  border-right: 1px solid $main-500;
}

.aside {
  background-color: $white-100;
  border-right: 1px solid $main-500;
  flex: 1 1 300px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}

.asideMain {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  color: $black-500;
  margin: 1rem 0;
  border: 1px solid $main-500;

  &:hover {
    border: 1px solid $main-700;
  }
}

.separator {
  background-color: $main-700;
  height: 2px;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.subPageLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid $gray-300;
  text-align: center;
  border-radius: 8px;
  position: relative;

  & a {
    flex: 1 1 100%;
    padding: 0.75rem;
    color: $black-500;
  }

  & button {
    border-left: 1px solid $gray-300;
    padding: 0.75rem;
  }

  &:hover {
    border: 1px solid $main-700;
    & button {
      border-left: 1px solid $main-700;
    }
  }
}

.subPageLinkActive {
  border: 1px solid $main-900;
  & button {
    border-left: 1px solid $main-900;
  }
}

.asideAdd {
  margin-top: 3rem;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: $white-100;
  border-radius: 8px;
  color: $black-500;
  font-size: 1.5rem;
  border: 1px solid $main-700;
}

.asideSectionsContainer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
