@use "/src/styles/colors.scss" as *;

.container {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.cardBody {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFooter {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.remarqueTitle {
  font-weight: 400;
  color: $black-500;
  font-size: 1rem;
}
