@use "@/styles/colors.scss" as *;

.headerContainer {
  position: relative;
  max-width: 1440px;
  margin: auto;
  background-color: $header-main-color;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &::after {
    content: "";
    width: 800px;
    height: 800px;
    position: absolute;
    right: 100px;
    top: -380px;
    background-color: $header-secondary-color;
    border-radius: 50%;
    z-index: 0;
  }
}

.navigation {
  color: $white-100;
  flex: 1 1 30%;
  font-weight: 300;
  z-index: 1;

  & ul {
    display: flex;
    gap: 2rem;
  }
}

.navigationElement {
  color: $white-100;
}

.loginAnchor {
  padding: 1rem;
  border-radius: 12px;
  background-color: $white-100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: $header-main-color;
  font-size: 1.25rem;
  z-index: 1;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
