@use "@/styles/colors.scss" as *;
@use "@/styles/utils.scss" as *;

.footer {
  @include max-width-mixin();
  position: relative;

  padding-bottom: 1rem;
  display: flex;
  gap: 3rem;

  p {
    flex: 1 1 60%;
    text-align: center;
  }

  a {
    color: $black-500;
  }
}
