@use "@/styles/colors.scss" as *;

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
  background-color: $header-main-color;
  height: 800px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  gap: 1rem;

  h1 {
    font-size: 5rem;
    color: $white-100;
    line-height: 1;
    z-index: 1;
    text-align: center;
  }
  p {
    max-width: 65ch;
    z-index: 1;
    font-size: 1.25rem;
    text-align: center;
    color: $white-100;
    font-weight: 300;
    line-height: 1.5;
  }
}

.buttonsContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@mixin button {
  border-radius: 12px;
  padding: 1.25rem 2.5rem;
  font-size: 1.25rem;
}

.primaryButton {
  @include button();
  background-color: $white-100;
  color: $black-500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.secondaryButton {
  @include button();
  border: 1px solid $white-100;
  background-color: transparent;
  color: $white-100;
}

.bulb {
  position: absolute;
  content: "";
  width: 250px;
  height: 250px;
  background-color: $header-secondary-color;
  border-radius: 50%;

  left: 500px;
  top: 300px;
}

.bulbSmall {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  background-color: $header-secondary-color;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  & > img {
    transform: rotate(-20deg);
  }

  &:nth-of-type(3) {
    left: 300px;
    top: 300px;
  }
  &:nth-of-type(4) {
    right: 200px;
    top: 300px;
  }
  &:nth-of-type(5) {
    right: 400px;
    bottom: 450px;
  }
}
