/* SCSS HSL */
$white-100: hsla(210, 17%, 98%, 1);
$white-300: hsla(210, 16%, 93%, 1);
$white-500: hsla(210, 14%, 89%, 1);
$gray-100: hsla(210, 14%, 83%, 1);
$gray-300: hsla(210, 11%, 71%, 1);
$gray-500: hsla(208, 7%, 46%, 1);
$black-100: hsla(210, 9%, 31%, 1);
$black-300: hsla(210, 10%, 23%, 1);
$black-500: hsla(210, 11%, 15%, 1);

$main-500: hsl(353, 86%, 54%);
$main-700: #d90429;
$main-900: hsl(353, 86%, 35%);
