/* Reset box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
button,
input {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points) */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
}

/* Remove default button styles */
button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

/* Remove border outline on focus */
button:focus {
  outline: none;
}
